<div class="ui inverted segment" style="margin-bottom: 10px;">
  <div class="ui inverted secondary pointing menu stackable container">
    <a
      class="item"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="home icon"></i>
      Início
    </a>
    <a class="item" [routerLink]="['/tutorial']" routerLinkActive="active">
      <i class="terminal icon"></i>
      Tutorial
    </a>
    <div class="right item">
      <div class="ui icon input">
        <input type="text" placeholder="Buscar..." />
        <i class="search icon"></i>
      </div>
    </div>
  </div>
</div>
